.module-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* CSS styles for elements with class 'st-ipt' */
.standard-ipt {
    color: green; /* Set default text color to green */
    font-size: 25px; /* Set default font size */
    /* Add any other default styles you require */
    border-bottom: 1px solid var(--color-text-dimmed);
    padding: 5px 0; /* Add spacing between items and time */   
}

/* Adhan Toggle Button Styling */
.toggle-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    height: 50px; /* Set button height */
    width: 150px; /* Set button width */    
    margin-top: 20px; /* Add margin to create space between prayer times and button */    
}

.toggle-button:hover {
    background-color: #333;
    color: #fff;
}

/* Flashing effect */
.flash {
    animation: flash 1s infinite;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}



